<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Encuestas</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
   <link rel="stylesheet" href="/css/index.css" />

  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Bienvenido</h1>
        <p>Sistema de Gestión de Encuestas</p>
      </div>

      <div class="actions">
        <a href="/crear" class="action-btn create">
          <i class="fas fa-plus-circle"></i>
          <span class="btn-text">Crear encuesta</span>
        </a>

        <a href="/encuestas" class="action-btn list">
          <i class="fas fa-list-alt"></i>
          <span class="btn-text">Listar encuestas</span>
        </a>
      </div>

      <div class="footer">&copy; 2025 Sistema de Encuestas</div>
    </div>
  </body>
</html>
